/* General styles for all resolutions */
html,
body {
  min-height: 100%;
  font-size: 16pt;
}
html {
  background-image: url("../img/bg_whole.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
div.container {
  padding-bottom: 1.5em;
  height: 100%;
  width: 100%;
  text-align: center;
}
div#landscape-container {
  min-height: calc(100vh - 1.5em);
  display: none;
}
h1 {
  color: #fff !important;
  text-shadow: 2px 2px #000;
}
h2 {
  color: #fff !important;
  text-shadow: 2px 2px #000;
}
p {
  color: #fff;
}
div.social a {
  color: #fff;
}
div.social a:hover svg {
  fill: red;
}
div.container div.first {
  background-image: url("../img/bg_final.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #000;
  box-shadow: 1px -2px 7px -1px rgba(0, 0, 0, 0.85) inset;
  -webkit-box-shadow: 1px -2px 7px -1px rgba(0, 0, 0, 0.85) inset;
  -moz-box-shadow: 1px -2px 7px -1px rgba(0, 0, 0, 0.85) inset;
  display: inline-block;
}
div.container div.first div {
  background-image: url("../img/photo_final.png");
  background-position: top center;
  background-size: 60vh;
  background-repeat: no-repeat;
}
div.container div.second {
  background: #3E5B90;
  border: 1px solid #000;
  display: inline-block;
}
div.container div.third {
  background: #0B0E2A;
  display: inline-flex;
}
div.traits h2 {
  margin: 0;
}
div.role p {
  margin: 0;
}
/* Portrait styling from min width up to 768px wide, and min-height up to 812px height */
div#portrait-container div.first {
  height: 40vh;
  border-radius: 0% 100% 22% 78% / 30% 0% 100% 70%;
}
div#portrait-container div.first div {
  height: 40vh;
  width: 70vw;
  border-radius: 0% 100% 22% 78% / 30% 0% 100% 70%;
}
div#portrait-container div.second {
  padding: 0 1em 1em 1em;
  border-radius: 0% 100% 71% 29% / 76% 0% 100% 24%;
}
div#portrait-container div.third {
  padding: 0 1em 1em 1em;
  border-radius: 100% 0% 90% 10% / 0% 55% 45% 100%;
  box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.75);
}
div#portrait-container div.traits {
  margin-top: 1em;
}
div#portrait-container div.role {
  margin-top: 1.5em;
}
h1 {
  margin-top: 1em;
  font-size: 2em;
}
div.social {
  margin-top: 1.25em;
}
div.social a {
  margin: 0 0.5em 0 0.5em;
}
div.social a svg {
  height: 2em;
  width: 2em;
}
div.traits {
  margin-top: 1.25em;
}
div.traits h2 {
  font-size: 1.25em;
}
div.role {
  padding-top: 2em;
}
div.role p {
  font-size: 0.8em;
}
/* Portrait styling from 768px wide by 1024px heigh */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }
  div#portrait-container div.social {
    margin-top: 2.5em;
  }
  div#portrait-container div.social svg {
    height: 2.5em;
    width: 2.5em;
  }
  div#portrait-container div.traits {
    font-size: 1.75em;
  }
  div#portrait-container div.role {
    font-size: 1.5em;
  }
}
/* Landscape styling from 1024px wide and beyond */
@media screen and (min-width: 1024px) {
  div#portrait-container {
    display: none;
  }
  div#landscape-container {
    display: flex;
  }
  div#landscape-container div.first {
    width: 50vh;
    height: 50vh;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  div#landscape-container div.first div {
    width: 50vh;
    height: 50vh;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  div#landscape-container div.second {
    padding: 1em;
    border-radius: 54% 46% 83% 17% / 53% 81% 19% 47%;
  }
  div#landscape-container div.third {
    border-radius: 22% 53% 26% 69% / 29% 37% 50% 27%;
  }
}
