html, body {
  min-height: 100%;
}

h1 {
    color: #fff !important;
    text-shadow: 2px 2px #000;
}

h2 {
    color: #fff !important;
    text-shadow: 2px 2px #000;
    padding-bottom: 3em;
}

p {
    color: #fff;
}

div.social a {
    color: #fff;
}

div.social a:hover {
    color: #ff0000;
}

div#medium-container {
    display: none;
}

div.container {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/detail_bg.jpg"); // must buy image https://www.freepik.com/free-photo/weathered-blue-page_4100654.htm#page=1&query=subtle%20background&position=30
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

div.container div.first {
    background-image: url("../img/bg.jpg"); // must buy image https://www.freepik.com/free-photo/weathered-blue-page_4100654.htm#page=1&query=subtle%20background&position=30
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0% 100% 22% 78% / 30% 0% 100% 70% ;
    border: 1px solid #000;
    box-shadow: 1px -2px 7px -1px rgba(0,0,0,0.85) inset;
    -webkit-box-shadow: 1px -2px 7px -1px rgba(0,0,0,0.85) inset;
    -moz-box-shadow: 1px -2px 7px -1px rgba(0,0,0,0.85) inset;
    display: inline-block;
}

    div.container div.first div {
        background-image: url("../img/photo7.png");
        background-position: top center;
        background-size: 50vh;
        background-repeat: no-repeat;
        border-radius: 0% 100% 22% 78% / 30% 0% 100% 70% ;
    }

    div.container div.second {
        padding: 0 2em 2em 2em;
        background: #3E5B90;
        border-radius: 0% 100% 71% 29% / 76% 0% 100% 24%;
        border: 1px solid #000;
        display: inline-block;
    }

    div.container div.third {
        padding: 0 2em 2em 2em;
        background: #0B0E2A;
        border-radius: 100% 0% 90% 10% / 0% 55% 45% 100%;
        box-shadow: 0px 3px 5px 0px rgba(255,255,255,0.75);
        -webkit-box-shadow: 0px 3px 5px 0px rgba(255,255,255,0.75);
        -moz-box-shadow: 0px 3px 5px 0px rgba(255,255,255,0.75);
        display: inline-flex;
    }


div#portrait-container div.first {
    height: 40vh;
    width: 80vw;
}

    div#portrait-container div.first div {
        height: 40vh;
        width: 80vw;
    }

div#portrait-container h1 {
    margin-bottom: 0.5em;
    font-size: 4em;
}

div#portrait-container h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

div#portrait-container p {
    margin: 0;
}

div#portrait-container div.social {
    margin-bottom: 1.5em;
}

div#portrait-container div.traits {
    margin-bottom: 3em;
}

div#portrait-container div.role {
    font-size: 1.5em;
}

div#landscape-container div.uk-card {
    padding: 0 1em 0 1em;
}

div#landscape-container h1 {
    font-size: 5em;
}

div#landscape-container h2 {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
}

div#landscape-container div.traits {
    padding: 1em 0 3em 0;
}

div#landscape-container p {
    margin: 0;
    font-size: 1.5em;
}

div#landscape-container div.first {
    margin-top: 1.5em;
}

div#landscape-container div.first,
div#landscape-container div.first div {
    height: 40vh;
    width: 30vw;
    border-radius: 41% 38% 27% 75% / 0% 37% 32% 32%;
}

div#landscape-container div.first div {
    background-position: bottom -20px right calc(100% * 0.25);
}

div#landscape-container div.second {
    margin-top: 1.5em;
    border-radius: 94% 6% 90% 10% / 33% 55% 45% 67%;
}

div#landscape-container div.third {
    display:inline-flex;
    border-radius: 28% 72% 47% 53% / 85% 55% 45% 15%;
}

@media screen and (min-width: 1200px) {
    div#portrait-container {
        display: none;
    }
    div#landscape-container {
        display: flex;
    }
    div#landscape-container div.first div {
        background-position: top center;
    }
}