{% extends "base" %}
{% block content %}

<div id='portrait-container' class='container'>
    <div class='third'>
        <div class='second'>
            <div class='first'>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
    <h1>Douglas Brunner</h1>
    <div class='social'>
        <a href="https://github.com/DouglasBrunner" uk-icon="icon: github;"></a>
        <a href="https://ca.linkedin.com/in/DouglasBrunner" uk-icon="icon: linkedin;"></a>
    </div>
    <div class='traits'>
        <h2>Technical Leadership</h2>
        <h2>Process Optimization</h2>
    </div>
    <div class='role'>
        <p>RBC Royal Bank &middot; Senior Technical Systems Analyst</p>
        <p>PCF Cloud &middot; OpenShift Kubernetes</p> 
        <p>Credit Domain Integration and Data Analytics</p>
    </div>
</div>

<div id='landscape-container' class="container uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-card uk-width-expand">
        <div class='third'>
            <div class='second'>
                <div class='first'>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-card uk-width-expand">
        <div>
            <h1>Douglas Brunner</h1>
            <div class='social'>
                <a href="https://github.com/DouglasBrunner" uk-icon="icon: github; ratio: 2.5"></a>
                <a href="https://ca.linkedin.com/in/DouglasBrunner" uk-icon="icon: linkedin; ratio: 2.5"></a>
            </div>
            <div class='traits'>
                <h2>Technical Leadership</h2>
                <h2>Process Optimization</h2>
            </div>
            <div class='role'>
                <p>RBC Royal Bank &middot; Senior Technical Systems Analyst</p>
                <p>PCF Cloud &middot; OpenShift Kubernetes</p>
                <p>Credit Domain Integration and Data Analytics</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}